

.css-12xsiil{
    display: none;
}


.stButton{
    position: relative;
    left: 27px;
    top: 38px
}

.css-hxt7ib {
    padding-top: 34px;

}

.st-e7.st-b3.st-e8.st-d9.st-e9.st-as.st-ar.st-ea.st-eb.st-au.st-av.st-ax.st-aw{
    position: relative;
    top: 20px;
}


.css-8u98yl{
    height:80px;
}

.block-container.css-18e3th9.egzxvld2{
    position: relative;
    padding-bottom: 0;
    padding-top: 82px;
}

.css-po3vlj{
    padding-top:0;
    padding-bottom:0;
}

.css-fis6aj{
    display: none;
}

.css-qri22k {
    display:none;
}

.css-18ni7ap{
    display:none;
}

.css-8u98yl.exg6vvm0{
    position: relative;
    top: -53px;
}

.user-select-none.svg-container{
    top: -53px;
}